.staffview .handle {
 cursor: move;
}
.staff {
    display: none;
}
.slot .staff {
 background-color: #fff;
 box-shadow: inset 0 0 5px #ddd;
 border: 1px solid #ccc;
 font-size: 11px;
 font-family: "Lucida Grande", verdana, sans-serif;
 padding: 1px;
 list-style-type: none;
 overflow: auto;
 margin: 0 0 1px 0;
 color: #000;
}
.slot .staff h2 {
 margin: 0 5px;
 font-size: 16px;
}
.slot .staff h2 a {
    text-decoration: underline;
    font-size: 80%;
}
.slot .staff .dim {
    color: #666;
}
.slot .staff li {
 float: left;
 padding: 2px 5px;
}
.slot .staff li a {
 display: block;
 padding: 0 6px;
 border-radius: 2px;
 box-shadow: 0 0 1px 1px #ccc;
}
.slot .staff li a:hover {
    background: #02779E;
    color: #fff;
}
.slot .staff-top {
    border-radius: 7px 7px 0 0;
}
.slot .staff-bottom {
    border-radius: 0 0 7px 7px;
    clear: both;
}
.slot .prohibited .staff {
 background: #cc0000;
 color: #eee;
}
.slot .prohibited {
 opacity: 0.5;
}
#portletStaffToggleOverlay {
    position: fixed;
    top: 10px;
    right: 210px;
    padding: 4px;
    background-color: #02779E;
    display: none;
    color: #fff;
    z-index: 10000;
    border-radius: 5px;
    box-shadow: 0 0 50px 20px #333;
}
#portletStaffOverlay { 
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #111;
    display: none;
    color: #fff;
    z-index: 10000;
    border-radius: 0 0 10px 0;
    box-shadow: 0 0 50px 20px #333;
}
#portletStaffOverlay ul.portletcategories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#portletStaffOverlay li.portletcategory {
    font-weight: normal;
    margin: 0;
    padding: 3px 10px;
    font-size: 13px;
    clear:both;
    width: 200px;
}
#portletStaffOverlay li.portletcategory.active {
    background: #02779E;
}
#portletStaffOverlay li.portletcategory a:hover {
    background: #02779E;
}
#portletStaffOverlay li.portletcategory ul {
    list-style-type: circle;
    position: absolute;
    left: 220px;
    margin: -20px 0 0;
    padding: 5px;
    display:none;
    font-size: 11px;
    background: #111;
    border-radius: 0 10px 10px 0;
    width: 900px;
}
#portletStaffOverlay li.portlet {
    font-weight: normal;
    margin: 0 20px;
    padding: 0;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    clear: none;
}
#portletStaffOverlay h2 {
    cursor: pointer;
}
#closePortletStaffOverlay {
    margin: 4px 10px;
    display: block;
}
