{% load cache i18n %}
{% if request.user.is_staff %}
    <ul class="staff">
        <li class="dim">{{ portlet.assignment.position }}</li>
        <li class="dim">{{ portlet.assignment.language|default:"global" }}</li>
        <li class="handle"><strong>{{ portlet.title }}</strong></li>
        <li class="handle dim">{{ portlet.portlet_type }}</li>
        {% if portlet.prohibited %}<li>prohibited here</li>{% endif %}
        {% if portlet.assignment.inherit %}
            <li>[origin is {{ portlet.assignment.path }}]</li>
        {% endif %}
    </ul>
    <ul class="staff">
        {% if portlet.assignment.inherit %}
            <li><a href="#" class="delete-here">Block here</a></li>
            <li><a href="#" class="delete-here-inherit">Block here and from all sub-pages</a></li>
        {% endif %}
        <li><a href="#" class="inherit" title="Inherit this to sub-pages">{{ portlet.assignment.inherit|yesno:"inherited,not inherited" }}</a></li>
        <li><a href="#" class="delete">Delete</a></li>
        <li><a href="{{ portlet.get_edit_link }}?_popup=1" class="edit popuplink">Edit</a></li>
    </ul>
{% endif %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 900 portlet_fragment portlet.pk portlet.modified.isoformat LANGUAGE_CODE %}{% spaceless %}
    {% block portlet_base %}
    {% if portlet.display_title %}
        <div class="header">
            {% block header %}
                <h2>
                    {% block portlet_header_extra %}{% endblock %}
                    {% if portlet.display_title_link %}
                        <a href="{{ portlet.display_title_link }}" title="{{ portlet.display_title }}">
                    {% endif %}
                        {{ portlet.display_title }}
                    {% if portlet.display_title_link %}
                        </a>
                    {% endif %}
                </h2>
            {% endblock %}
        </div>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
{% endspaceless %}{% endcache %}